@media print
  .header
    display: none
  .state-bar
    display: none
  .schedule
    -webkit-print-color-adjust: exact
    transform: rotate(90deg)
    width: 100vh
    margin-right: 150px

    .table
      flex-direction: row
      width: 150vh
      height: 100%

      .table__column--active
        .grid--short
          height: 120px
          display: flex
          align-items: center
          justify-content: center
          margin-bottom: 30px
          border: none
            bottom: 1px solid $gray-lighter

        .column__header
          height: 50px


      .grid--short
        max-height: 120px
        display: flex
        align-items: center
        justify-content: center
        height: 120px


      .grid
        margin: 0
        padding: 20px
        display: flex
        justify-content: flex-start
        text-align: left
        font-size: 20px
        align-items: flex-start
        width: 200px
        height: 150px
        background-position: center bottom

        .time-indicator
          display: none

      .free-day
        display: flex
        color: #c2c2c2
        font-size: 36px
        position: relative
        padding-left: 10px

        .free-day__content
          transform: rotate(-90deg)
          width: 500px
          position: absolute
          top: 300px
          left: -180px
          display: flex
          justify-content: flex-start
          flex-direction: row

          .icon-happy
            margin: 0 30px

      .table__column
        &:first-child
          .grid
            width: 150px
            height: 141px

            &:nth-child(5)
              margin-bottom: 0

        &:last-child
          .grid
            width: 150px

        .table__headers
          .grid
            height: 130px

        .workout
          flex: 2

      .table__column--active
        border: 4px $brand-primary solid
        z-index: 5

        .column__header
          height: 80px

      .print-grid
        margin-top: 90px
        border: none


  .schedule
    .table
      .grid--short
        display: flex
        justify-content: center
        align-items: center
        width: 200px

  .references
    display: none

  body
    padding: 10px

@page
  margin: 15mm 4mm 0 0



