@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #828282;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
@media (min-width: 48em) {
  .container {
    max-width: 48em;
  }
}
@media (min-width: 1010px) {
  .container {
    max-width: 1010px;
  }
}
@media (min-width: 75em) and (max-width: 1010px) {
  .container {
    max-width: 75em;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f6ff8f;
}
.loader-container .loader {
  border: 16px solid #828282;
  border-top: 16px solid #ff801a;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  font-family: "Roboto", sans-serif;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.13);
}
.header .header__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 35px;
}

.nav-container {
  width: 100%;
}
@media (min-width: 48em) {
  .nav-container {
    width: auto;
  }
}
.nav-container .nav {
  height: 100%;
  display: none;
}
@media (min-width: 48em) {
  .nav-container .nav {
    display: flex;
  }
}
.nav-container .nav .decoration-line {
  border-left: 1px solid #c2c2c2;
  height: 100%;
  margin-left: 120px;
  margin-right: 15px;
}
.nav-container .nav .nav__items {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-container .nav .nav__items .nav__item {
  padding: 30px 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.nav-container .nav .nav__items .nav__item .nav__link {
  text-decoration: none;
  color: #7c7c7c;
}
.nav-container .nav .nav__items .nav__item .nav__link:visited {
  color: #7c7c7c;
}
.nav-container .nav .nav__items .nav__item .nav__link:hover {
  color: #ff801a;
}
.nav-container .nav .nav__items .nav__item--active {
  position: relative;
}
.nav-container .nav .nav__items .nav__item--active .nav__link {
  color: #ff801a;
}
.nav-container .nav .nav__items .nav__item--active .nav__link:visited {
  color: #ff801a;
}
.nav-container .nav .nav__items .nav__item--active:after {
  display: flex;
  content: " ";
  width: 25px;
  height: 2px;
  background-color: #ffb980;
  position: absolute;
  bottom: 20px;
  left: 40%;
}
.nav-container .hamburger-nav {
  z-index: 1000;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 15px 0 15px 15px;
  box-sizing: border-box;
  background-color: white;
  margin-left: -30px;
}
@media (min-width: 48em) {
  .nav-container .hamburger-nav {
    display: none;
  }
}
.nav-container .hamburger-nav .menu-icon {
  height: 30px;
  width: 30px;
  padding-left: 30px;
}
.nav-container .hamburger-nav .menu-input-checkbox {
  display: none;
}
.nav-container .hamburger-nav .menu-input-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  z-index: 2000;
}
.nav-container .hamburger-nav .menu-input-label:hover {
  cursor: pointer;
}
@media (min-width: 48em) {
  .nav-container .hamburger-nav .menu-input-label {
    display: none;
  }
}
.nav-container .hamburger-nav .menu--expanded {
  display: none;
}
.nav-container .hamburger-nav .menu-input-checkbox:checked ~ .menu--expanded {
  z-index: 9999999999;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  padding-top: 30px;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.13);
  animation: slide-out 300ms forwards;
}
.nav-container .hamburger-nav .menu-input-checkbox:checked ~ .menu--expanded .nav__item {
  padding: 30px 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.nav-container .hamburger-nav .menu-input-checkbox:checked ~ .menu--expanded .nav__link {
  text-decoration: none;
  color: #7c7c7c;
}
.nav-container .hamburger-nav .menu-input-checkbox:checked ~ .menu--expanded .nav__link:visited {
  color: #7c7c7c;
}
.nav-container .hamburger-nav .menu-input-checkbox:checked ~ .menu--expanded .nav__link:hover {
  color: #ff801a;
}
.nav-container .hamburger-nav .menu-input-checkbox:checked ~ .menu--expanded .nav__item--active {
  position: relative;
}
.nav-container .hamburger-nav .menu-input-checkbox:checked ~ .menu--expanded .nav__item--active .nav__link {
  color: #ff801a;
}
.nav-container .hamburger-nav .menu-input-checkbox:checked ~ .menu--expanded .nav__item--active .nav__link:visited {
  color: #ff801a;
}
.nav-container .hamburger-nav .menu-input-checkbox:checked ~ .menu--expanded .nav__item--active:after {
  display: flex;
  content: " ";
  width: 25px;
  height: 2px;
  background-color: #ffb980;
  position: absolute;
  bottom: 20px;
  left: 40%;
}
.nav-container .hamburger-nav .menu-input-checkbox:checked ~ .menu--expanded .icon-close {
  color: #ff801a;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 30px;
  font-weight: 700;
}

@keyframes slide-out {
  from {
    right: 100%;
  }
  to {
    right: 50%;
  }
}
.user-panel {
  position: absolute;
  display: flex;
  align-items: center;
  right: 20px;
  top: 15px;
}
@media (min-width: 48em) {
  .user-panel {
    position: static;
  }
}
.user-panel .user-panel__avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.32);
  margin: 10px;
  padding-top: 4px;
  padding-left: 2px;
  box-sizing: border-box;
}
.user-panel .user-panel__image {
  height: 40px;
  width: 40px;
}
.user-panel .icon-arrow {
  height: 4px;
  width: 8px;
  padding: 0 6px;
}
.user-panel .icon-arrow:hover {
  cursor: pointer;
}

.progress {
  display: flex;
  flex-direction: column;
  color: #dbdbdb;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 48em) {
  .progress {
    text-align: left;
    margin-bottom: 0;
  }
}

.progress__indicator {
  position: relative;
  display: flex;
  margin-left: -5px;
  margin-top: 10px;
}

.week-indicator {
  display: flex;
  height: 10px;
  width: 10px;
  margin: 5px;
  border-radius: 50%;
  position: relative;
}
.week-indicator:first-child:before {
  content: none;
}
.week-indicator:after {
  position: absolute;
  top: 4px;
  left: 10px;
  display: block;
  content: " ";
  width: 10px;
  height: 2px;
  background-color: #adbb0c;
}
.week-indicator .progress__number {
  position: absolute;
  top: 15px;
}

.week-indicator--past {
  background-color: #adbb0c;
}

.week-indicator--active {
  height: 6px;
  width: 6px;
  background-color: #fff;
  border: 2px solid #dbdbdb;
}
.week-indicator--active:before {
  content: " ";
  top: 2px;
  right: 8px;
  background-color: #dbdbdb;
  display: block;
  width: 10px;
  height: 2px;
  position: absolute;
}
.week-indicator--active:after {
  top: 2px;
  left: 8px;
  background-color: #dbdbdb;
}
.week-indicator--active .progress__number {
  position: absolute;
  top: 13px;
}

.week-indicator--future {
  background-color: #dbdbdb;
}
.week-indicator--future:after {
  background-color: #dbdbdb;
}

.week-indicator:last-child:after {
  display: none;
}

.state-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 48em) {
  .state-bar {
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
  }
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: -1;
  margin-bottom: 30px;
}
@media (min-width: 48em) {
  .slider {
    order: 0;
    margin-bottom: 0;
  }
}
.slider .btn {
  transition: all 300ms;
}
.slider .btn .icon-arrow path {
  transition: all 300ms;
}
.slider .btn:hover {
  border-color: #ff801a;
}
.slider .btn:hover .icon-arrow path {
  fill: #ff801a !important;
}

.counter {
  font-size: 32px;
  padding: 0 30px;
  color: #ff801a;
}
@media (min-width: 1010px) {
  .counter {
    font-size: 46px;
    padding: 0 45px;
  }
}

.btn {
  border: solid 1px #c2c2c2;
  padding: 10px 7px;
  background: none;
  border-radius: 5px;
  max-height: 42px;
}
.btn:hover {
  cursor: pointer;
}

.btn-next {
  transform: rotateY(180deg);
}

.protein-options {
  color: #dbdbdb;
  font-size: 10px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 30px;
}
@media (min-width: 48em) {
  .protein-options {
    margin-bottom: 0;
  }
}
.protein-options .protein-options__title {
  display: flex;
  align-self: center;
}
@media (min-width: 48em) {
  .protein-options .protein-options__title {
    align-self: flex-start;
    text-indent: 8px;
  }
}
.protein-options .protein-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.protein-options .protein-list .protein {
  height: 25px;
  width: 25px;
  margin: 0 8px;
}
.protein-options .protein-list .protein path {
  transition: all 300ms;
}
.protein-options .protein-list .protein:hover {
  cursor: pointer;
}
.protein-options .protein-list .protein--active:hover {
  cursor: pointer;
}
.protein-options .protein-list .protein--active #_dark_ path {
  fill: #b2c200 !important;
}
.protein-options .protein-list .protein--active:hover #_dark_ path {
  fill: #a4a4a4 !important;
}
.protein-options .protein-list .protein--inactive {
  position: relative;
}
.protein-options .protein-list .protein--inactive #_dark_ path {
  fill: #a4a4a4 !important;
}
.protein-options .protein-list .protein--inactive:hover {
  cursor: pointer;
}
.protein-options .protein-list .protein--inactive:hover #_dark_ path {
  fill: #b2c200 !important;
}
.protein-options .protein-list .protein--inactive:after {
  transition: all 300ms;
  content: " ";
  height: 25px;
  width: 0;
  border-left: #fff 1px solid;
  border-right: #a4a4a4 1px solid;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 45%;
}

/*# sourceMappingURL=App.css.map */
